<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437179195510-tu9kong9gihl3ifoels577jtahffg9vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437179195510-tu9kong9gihl3ifoels577jtahffg9vs</string>
	<key>API_KEY</key>
	<string>AIzaSyAhwXaG5ud0pDiC63ehTD3LuLAfS0mQ5Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>437179195510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project-moody.mymood-firebase</string>
	<key>PROJECT_ID</key>
	<string>fbnotificationmoody</string>
	<key>STORAGE_BUCKET</key>
	<string>fbnotificationmoody.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437179195510:ios:e6dcef8be3f234744ebf57</string>
	<key>DATABASE_URL</key>
	<string>https://fbnotificationmoody.firebaseio.com</string>
</dict>
</plist>